@model prueba.Models.Inventario

@{
    ViewData["Title"] = "Eliminar";
}

<div class="p-1">
    <p class="h1">Eliminar</p>
    <p class="h4">¿Está seguro de que quiere eliminar este producto?</p>
</div>

<div class="p-2">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProdCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProdCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MovType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MovType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProvCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProvCode)
        </dd>
    </dl>

    <div class="row">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-danger text-white text-uppercase" />
            <a asp-action="Index" class="btn btn-info text-white text-uppercase">Volver a la lista</a>
        </form>
    </div>
</div>

