@model IEnumerable<prueba.Models.Inventario>

@{
    ViewData["Title"] = "Productos";
}

<h1 style="text-align:center;">Productos</h1>


<form asp-controller="Inventarios" asp-action="Index">
    <p>
        Buscar: <input type="text" name="buscar" class="form-text"/>
        <input type="submit" value="Buscar" class="btn btn-sm btn-dark"/>
        <input type="submit" value="Todos" class="btn btn-sm btn-info" />
        <a asp-action="Create" class="btn btn-sm btn-success">Agregar producto</a>
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProdCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProvCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProdCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MovType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProvCode)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
